@model IEnumerable<ExamPrototype.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name.ToString(),"Generate",new { id=item.Course_Id})</td>
                <td>@item.Status</td>
                <td>@item.Duration</td>
            </tr>
        }
    </tbody>
</table>
